.btn-header {
  border-bottom: 1px solid #ddc8c8;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

.backToTheList {
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
}

.flex_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
}

.item1 {
  width: 15rem;
  height: 20rem;
  overflow-y: hidden;
  width: 20%;
}

.flex_item:nth-child(2) {
  width: 75%;
}

@media (width <=993px) {
  .flex_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item1 {
    width: 40%;
  }
  .flex_item:nth-child(2) {
    width: 100%;
    margin: 10px;
  }
}

.container {
  width: 90%;
  height: 100%;
  margin: 5% auto;
}

@media (width <= 780px) {
  .container {
    margin: 15% auto;
  }
}
