.btn-header {
  border-bottom: 1px solid #ddc8c8;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

.backToTheList {
  text-decoration: none;
}

.img {
  width: 15rem;
  height: 20rem;
  overflow-y: hidden;
}

.image {
  width: 100%;
  height: auto;
}
