.conatainer {
  width: 100%;
}

.skeletonFlexWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cards {
  width: 15rem;
}

.loading {
  overflow: hidden;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-all-recipe {
  width: 200px;
  height: 20px;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-card {
  width: 20rem;
  height: 15rem;
  border-radius: 10px;
}

.skeleton-footer {
  width: 30%;
}
