.all-reciepe {
  width: auto;
  overflow: hidden;
}

.cards {
  width: 20rem;
  border: 1px solid hsl(0, 39%, 94%);
}

.wrapper {
  width: 90%;
  margin: 2% auto;
}
.bg-color {
  margin: 10px 0;
  background-color: hsl(210, 38%, 87%);
  border: 1px solid rgb(215, 231, 246);
  border-radius: 10px;
}
